---
import Layout from '../layouts/PageLayout.astro';
---
<Layout title="About">
   <h1 class="h1 inline-block" transition:name="title">About page</h1>
   <p>A page about AstroShad</p>
   <p>{Astro.url.pathname}</p>
</Layout>
