---
import Layout from '../layouts/PageLayout.astro';

---

<div title="Test">
   <h1 class="h1 inline-block" transition:name="title">Test page</h1>
   <p transition:name="intro">Test page
   </p>
   <div >
</di>
